Exercise

Now that we've learned several ways to format strings in Python, it's time to put our knowledge into practice. In this exercise, we'll ask you to use the input() function to request certain information from the user, and then format that information using at least two of the methods we've discussed previously (concatenation with '+', using commas, f-strings, or the .format() method).

Instructions:

Ask the user to enter their name and age using the input() function.
Create a greeting message that includes the user's name and age, using two different string formatting methods.
Print both messages on the console to verify your work.

In [1]:
age = 25

In [3]:
name = "Katy"

In [7]:
greeting = "My name is {}" + "I'm {} years old" . format(name,age)

In [8]:
print (greeting)

My name is {}I'm Katy years old

In [9]:
greeting = "Hello my name is {} and my age is {}" (age) .format(name,age
                                         )

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
/var/folders/31/2t1n00ls5kq101v6vw8zcthm0000gn/T/ipykernel_2282/823781336.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  greeting = "Hello my name is {} and my age is {}" (age) .format(name,age

TypeError: 'str' object is not callable

In [12]:
Greeting = "Hello my name is " + name + " and my age is " + str(age)

In [13]:
print(Greeting)

Hello my name is Katy and my age is 25

Create a list called months that contains the names of all the months of the year.
Use the append method to add an extra element to the list that is "End of Year".
Use the remove method to delete this last element you added.
Using slicing, create a new list that contains only the months of the second quarter (April, May, and June).
Use the reverse method to reverse the order of the elements in the original list of months.
Find the appropriate method to sort the list of months in alphabetical order and apply it.
Use the index method to find the position of your birth month in the list sorted alphabetically.

In [30]:
Month = ['jan' , 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep, oct', 'nov', 'dec']

In [31]:
Month.append('end of the year')

In [32]:
Month

['jan',
 'feb',
 'mar',
 'apr',
 'may',
 'jun',
 'jul',
 'aug',
 'sep, oct',
 'nov',
 'dec',
 'end of the year']

In [33]:
Month.pop(2)

'mar'

In [34]:
Month

['jan',
 'feb',
 'apr',
 'may',
 'jun',
 'jul',
 'aug',
 'sep, oct',
 'nov',
 'dec',
 'end of the year']

In [35]:
Month[2:3:1]

['apr']

In [36]:
Month.reverse()

In [37]:
Month

['end of the year',
 'dec',
 'nov',
 'sep, oct',
 'aug',
 'jul',
 'jun',
 'may',
 'apr',
 'feb',
 'jan']

In [38]:
Month.sort()

In [39]:
Month

['apr',
 'aug',
 'dec',
 'end of the year',
 'feb',
 'jan',
 'jul',
 'jun',
 'may',
 'nov',
 'sep, oct']

In [40]:
Month.sort()

In [41]:
Month

['apr',
 'aug',
 'dec',
 'end of the year',
 'feb',
 'jan',
 'jul',
 'jun',
 'may',
 'nov',
 'sep, oct']

In [42]:
inventario = {
    "camisa negra": (30, 20.50),
    "pantalones": (20, 30.00),
    "zapatos": (50,80.00)
}

In [45]:
pedido = input("escribe producto y cantidad")

escribe producto y cantidadcamisa 2

In [46]:
pedido

'camisa 2'

In [47]:
a = 10

In [48]:
salutation = input()

890